@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
}

main {
    background-color: hsl(0, 0%, 12%);
}

#user-links {
    background-color: hsl(0, 0%, 20%);
}

h1, p, a {
    color: hsl(0, 0%, 100%);
}

h4 {
    color: hsl(75, 94%, 57%);
}

img {
    border-radius: 100px;
}