@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 23px;
    width: 300px;
    height: 510px;
    border-radius: 15px;
}


/* User Info */

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 100px;
    width: 75px;
    margin-bottom: 0;
    margin-top: 5px;
}

h1 {
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 23px;
}

h2 {
    color: hsl(75, 94%, 57%);
    margin-top: 0;
    font-size: 13px;
    margin-bottom: 20px;
}


/* User Description */

#user-desc p {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
}


/* User Links */

#user-links {
    width: 280px;
    text-align: center;
    margin-top: 0;
}

.links {
    background-color: hsl(0, 0%, 20%);
    border-radius: 7px;
    padding: 1px;
    margin-bottom: 15px;
}

.links p {
    font-weight: 600;
}

.links:hover {
    background-color:hsl(75, 94%, 57%);
}

.links:hover p {
    color:hsl(0, 0%, 8%);
}

a {
    text-decoration: none;
    font-size: 13px;
}


/* Combined */

h1, p, a {
    color: hsl(0, 0%, 100%);
}


h1, h2 {
    font-weight: 500;
}


/* Mobile Version */

@media screen and (max-width: 375px) {
    main {
       /* width: 280px;*/
        padding: 10px;
    }  
}

